@import "palette";
@import "mixins";

*:not(input):not(.selectable-text) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

html, body {
	height: 100%;
	box-sizing: border-box;
}

#resources {
	display: none;
}

.selectable-text {
	-webkit-touch-callout: initial;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	user-select: text;
	cursor: text;
}

#main-view {
	@include full-height;
	@include flex-row;

	#control-bar {
		@include full-height;
		background-color: palette("blue", "dark");
		color: palette("font", "blue");
		max-width: 70px;
		min-width: 35px;

		.button {
			@include button-clickable(palette("blue", "dark"));

			&.selected {
				&, &:hover, &:active {
					background-color: palette("blue", "base");
				}
			}

			img {
				width: 100%;
			}
		}
	}

	#control-options-view {
		@include full-height;
		min-width: 180px;
		background-color: palette("blue", "base");
		color: palette("white", "base");
		padding: 4rem 0.6rem 0.6rem 0.6rem;

		.panel {
			display: none;
			width: 280px;
			overflow: hidden;
			height: 100%;

			&.active {
				@include flex-column;
			}
		}

		#connection {
			.form {

				#channel-name {
					@include input-clear;
					color: palette("font", "dark");
					width: 100%;
					height: 3rem;
					font-size: 2rem;
				}

				#connect {
					background-color: palette("green", "light");
					@include button-clickable(palette("green", "light"));
					color: palette("font", "dark");
					display: inline-block;
					padding: 0.5rem 1rem;
					text-align: center;
				}
			}
		}

		#server-log {
			#server-log-text {
				background-color: palette("white", "base");
				color: palette("black", "dark");
				padding: 2px 8px;
				height: 100%;
				overflow-y: auto;
				font-size: 1.1rem;

				.log {
					border-bottom: 1px solid palette("black", "dark");

					&:last-child {
						border: none;
					}

					.timestamp, .display-name {
						color: palette("blue", "dark");
						font-weight: 600;
					}

					.message {
						word-wrap: break-word;
					}
				}
			}

			#server-command-input {
				@include flex-row;
				input {
					@include input-clear;
					@include input-dark;
					padding: 0.3rem 0.5rem;
					flex-grow: 1;
				}

				.submit{
					@include button-clickable(palette("blue", "dark"));
						background-color: palette("black", "dark");
						color: palette("white", "base");
						padding: 0.5rem;
				}
			}
		}
	}

	#chat-view {
		@include full-height;
		@include flex-column;
		flex-grow: 1;

		#tabs {
			background-color: palette("red", "dark");
			flex-basis: 40px;
			@include flex-row;

			#chats {
				@include flex-row;
				flex-grow: 1;
				color: palette("font", "light");

				.chat {
					text-align: center;
					padding: 0.8rem;
					background-color: palette("red", "light");
					@include button-clickable(palette("red", "light"));

					&.selected {
						font-weight: 600;
					}
				}
			}

			#search-box {
				@include flex-row;
				flex-basis: 300px;

				input {
					@include input-clear;
					@include input-light;
					flex-grow: 1;
					font-size: 2.5rem;
					width: 100%;
				}

				#search {
					@include button-clickable(palette("blue", "dark"));
					background-color: palette("blue", "base");
					color: palette("white", "base");
					padding: 0.5rem;
					flex-basis: 30px;

					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}

		#container {
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			.instance {
				flex-grow: 1;
				display: none;

				&.active {
					@include flex-column;
				}

				.channel-info {
					background-color: palette("red", "light");
					padding: 0.6rem;
					color: palette("font", "light");

					.title {
						color: palette("font", "yellow");
						margin: 0;
					}
				}

				.message-log {
					flex-grow: 1;
					flex-basis: 0;
					color: palette("font", "dark");
					padding: 0.3rem;
					overflow-x: hidden;

					.log {
						@include flex-row;
						padding: 0.55rem 0.1em;
						box-sizing: border-box;
						margin-top: 4px;

						&:not(.self) {
							background-color: palette("white", "blue");
						}

						&:first-child {
							margin-top: 0px;
						}

						.info {
							min-width: 180px;
							text-align: center;

							.timestamp {
								color: palette("font", "red");
							}
						}

						.message {
							word-wrap: break-word;
						}
					}
				}

				.message-box {
					@include flex-row;
					padding: 0.3rem;
					flex-basis: 40px;
					box-sizing: border-box;

					input {
						@include input-clear;
						@include input-dark;
						flex-grow: 1;
						font-size: 2rem;
					}

					.submit {
						@include button-clickable(palette("blue", "dark"));
						background-color: palette("black", "dark");
						color: palette("white", "base");
						padding: 0.5rem;
					}
				}
			}
		}
	}
}
