@import "reset";

html, body{
	width: 100%;
	height: 100%;
}

.resources{
	display: none;
}
div{
	box-sizing: border-box;
}
.topBar{
	width: 100%;
	height: 32px;
	background: black;
}
.mainContainer{
	width: 100%;
	.chatlist, .users{
		float: left;
	}
	.chatlist{
		width: 160px;
		height: 100%;
		background: #8e8e8f;
		color: white;
		.chatlistHeader{
			text-align: center;
			background: #2C3442;
		}

		.chat:nth-child(2n+1) {  
			background: #1b1b1b; //First colour
		};
		.chat{
			width: 100%;
			text-align: center;
			height: 40px;
			background: #444B59; //Second colours
			&.selected{	
				font-weight: 700;
			}
		}
	}
	.users{
		width: 160px;
		height: 100%;
		background: #DADADA;
		.usersHeader{
			text-align: center;
		}
		.user:nth-child(2n+1) {  
			background: #ebebeb; //First colour
		};
		.user{
			text-align: center;
			background: #f6f3f3; //Second colours
			&:hover{
				background: #FFFFFF;
			}

		}
	}
	.chats{
		display: flex;
		.chatWindow{
			display: none;
			height: 100%;
			width: 100%;
			&.active{
				display: initial;
			}
			.chatHeader{
				background: #FF5454;
			}
			.messageHistory{
				width: 100%;
			}

			
			
			.message{
				border: 1px solid black;
				width: 100%;
				height: 100%;
				&.self{  
				background: #D3FFA9; //First colour
			};
				.sender{
					width: 100px;
				}
				.text{
					
				}
			}
			.messageBox{
				position: fixed;
				bottom: 0;
				width: 100%;
				input{
					margin:0;
				}
				button{
					margin:0;
				}
			}
		}
	}
}