@import url(http://fonts.googleapis.com/css?family=Roboto);
/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*:not(input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

.resources {
  display: none; }

div {
  box-sizing: border-box; }

.topBar {
  width: 100%;
  height: 32px;
  background: black; }

.handleBar {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 25px;
  -webkit-app-region: drag; }
  .handleBar .fa {
    float: right;
    height: 20px;
    width: 25px;
    text-align: center;
    margin: 2px 2px;
    font-size: 20px;
    -webkit-app-region: no-drag;
    cursor: pointer; }

.programContainer {
  width: 100%; }
  .programContainer .hudController, .programContainer .hudPanel {
    float: left; }
  .programContainer .hudController {
    width: 64px;
    height: 100%;
    background: #12171D;
    color: #283140;
    z-index: 10; }
    .programContainer .hudController .hudHeader {
      width: 100%;
      height: 64px; }
    .programContainer .hudController .hudButton {
      position: relative;
      height: 50px;
      width: 100%;
      cursor: pointer; }
      .programContainer .hudController .hudButton i {
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        display: table;
        position: absolute;
        text-align: center;
        font-size: 40px; }
      .programContainer .hudController .hudButton.active i {
        font-size: 0; }
      .programContainer .hudController .hudButton.active.connection {
        background: #283140; }
      .programContainer .hudController .hudButton.active.users {
        background: #CBCBCB; }
  .programContainer .hudPanel {
    width: 168px;
    height: 100%;
    position: relative;
    margin-left: -168px;
    transition: all 0.5s ease;
    z-index: -1; }
    .programContainer .hudPanel.active {
      margin-left: 0px; }
    .programContainer .hudPanel .innerPanel {
      left: -168px;
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0px 15px;
      transition: all 0.5s ease; }
      .programContainer .hudPanel .innerPanel .panelHeader {
        height: 105px;
        padding: 3px;
        text-align: left;
        position: relative; }
        .programContainer .hudPanel .innerPanel .panelHeader .title {
          position: absolute;
          bottom: 2px;
          left: 2px;
          font-size: 24px; }
      .programContainer .hudPanel .innerPanel.active {
        left: 0; }
      .programContainer .hudPanel .innerPanel.connection {
        background: #283140; }
      .programContainer .hudPanel .innerPanel.users {
        background: #CBCBCB; }
        .programContainer .hudPanel .innerPanel.users .userlist {
          display: none; }
          .programContainer .hudPanel .innerPanel.users .userlist.active {
            display: initial; }
  .programContainer .mainContainer {
    position: relative;
    padding: 30px 18px 18px 18px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .programContainer .mainContainer .chatSelection {
      height: 40px;
      width: 100%;
      background: #C5393A;
      font-size: 0;
      display: flex;
      flex-shrink: 0; }
      .programContainer .mainContainer .chatSelection .chatButtons {
        width: 100%; }
      .programContainer .mainContainer .chatSelection .chatButton {
        background: #D33c3c;
        height: 40px;
        color: white;
        display: inline-block;
        padding: 0px 15px;
        font-size: 16px;
        line-height: 41px;
        cursor: pointer; }
        .programContainer .mainContainer .chatSelection .chatButton:nth-child(2n+1) {
          background: #C5393A; }
        .programContainer .mainContainer .chatSelection .chatButton.active {
          background: #000; }
      .programContainer .mainContainer .chatSelection .connectTo {
        font-size: 0;
        display: flex;
        flex-shrink: 0; }
        .programContainer .mainContainer .chatSelection .connectTo .input {
          width: 160px;
          margin: 0;
          display: inline-block; }
          .programContainer .mainContainer .chatSelection .connectTo .input input {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 40px;
            border: none;
            background: #f3f3f3;
            color: #283140;
            font-size: 18px;
            text-indent: 10px;
            outline-style: none; }
        .programContainer .mainContainer .chatSelection .connectTo .button {
          font-size: 34px;
          background: #000;
          display: inline-block;
          margin: 0;
          height: 40px;
          width: 64px;
          color: white;
          text-align: center;
          line-height: 42px;
          cursor: pointer; }
    .programContainer .mainContainer .chatsContainer {
      height: 100%;
      width: 100%;
      position: relative; }
      .programContainer .mainContainer .chatsContainer .noChats {
        position: absolute;
        height: 100%;
        width: 100%; }
        .programContainer .mainContainer .chatsContainer .noChats.hidden {
          display: none; }
      .programContainer .mainContainer .chatsContainer .chatWindow {
        display: none;
        width: 100%;
        position: absolute;
        height: 100%;
        width: 100%; }
        .programContainer .mainContainer .chatsContainer .chatWindow.active {
          display: initial; }
        .programContainer .mainContainer .chatsContainer .chatWindow .chatHeader {
          background: #FF5454; }
          .programContainer .mainContainer .chatsContainer .chatWindow .chatHeader .title {
            -webkit-touch-callout: all;
            -webkit-user-select: all;
            -khtml-user-select: all;
            -moz-user-select: all;
            -ms-user-select: all;
            user-select: all; }
          .programContainer .mainContainer .chatsContainer .chatWindow .chatHeader .topic {
            -webkit-touch-callout: all;
            -webkit-user-select: all;
            -khtml-user-select: all;
            -moz-user-select: all;
            -ms-user-select: all;
            user-select: all; }
        .programContainer .mainContainer .chatsContainer .chatWindow .messageHistory {
          width: 100%;
          position: absolute;
          bottom: 0; }
        .programContainer .mainContainer .chatsContainer .chatWindow .message {
          padding: 10px;
          margin: 4px 0px;
          width: 100%;
          -webkit-touch-callout: all;
          -webkit-user-select: all;
          -khtml-user-select: all;
          -moz-user-select: all;
          -ms-user-select: all;
          user-select: all; }
          .programContainer .mainContainer .chatsContainer .chatWindow .message.self {
            background: #D3FFA9; }
          .programContainer .mainContainer .chatsContainer .chatWindow .message .sender {
            width: 200px;
            height: 100%;
            float: left;
            -webkit-touch-callout: all;
            -webkit-user-select: all;
            -khtml-user-select: all;
            -moz-user-select: all;
            -ms-user-select: all;
            user-select: all; }
          .programContainer .mainContainer .chatsContainer .chatWindow .message .text {
            display: table-cell;
            -webkit-touch-callout: all;
            -webkit-user-select: all;
            -khtml-user-select: all;
            -moz-user-select: all;
            -ms-user-select: all;
            user-select: all; }
        .programContainer .mainContainer .chatsContainer .chatWindow .messageBox {
          font-size: 0;
          display: flex; }
          .programContainer .mainContainer .chatsContainer .chatWindow .messageBox .input {
            display: inline-block;
            margin: 0;
            width: 100%; }
            .programContainer .mainContainer .chatsContainer .chatWindow .messageBox .input input {
              margin: 0;
              padding: 0;
              width: 100%;
              height: 40px;
              border: none;
              background: #283140;
              color: white;
              font-size: 18px;
              text-indent: 10px;
              outline-style: none; }
          .programContainer .mainContainer .chatsContainer .chatWindow .messageBox .button {
            font-size: 16px;
            background: #000;
            display: inline-block;
            margin: 0;
            height: 40px;
            width: 64px;
            color: white;
            text-align: center;
            line-height: 37px;
            cursor: pointer; }
