/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html, body {
  width: 100%;
  height: 100%; }

.resources {
  display: none; }

div {
  box-sizing: border-box; }

.topBar {
  width: 100%;
  height: 32px;
  background: black; }

.mainContainer {
  width: 100%; }
  .mainContainer .chatlist, .mainContainer .users {
    float: left; }
  .mainContainer .chatlist {
    width: 160px;
    height: 100%;
    background: #8e8e8f;
    color: white; }
    .mainContainer .chatlist .chatlistHeader {
      text-align: center;
      background: #2C3442; }
    .mainContainer .chatlist .chat:nth-child(2n+1) {
      background: #1b1b1b; }
    .mainContainer .chatlist .chat {
      width: 100%;
      text-align: center;
      height: 40px;
      background: #444B59; }
      .mainContainer .chatlist .chat.selected {
        font-weight: 700; }
  .mainContainer .users {
    width: 160px;
    height: 100%;
    background: #DADADA; }
    .mainContainer .users .usersHeader {
      text-align: center; }
    .mainContainer .users .user:nth-child(2n+1) {
      background: #ebebeb; }
    .mainContainer .users .user {
      text-align: center;
      background: #f6f3f3; }
      .mainContainer .users .user:hover {
        background: #FFFFFF; }
  .mainContainer .chats {
    display: flex; }
    .mainContainer .chats .chatWindow {
      display: none;
      height: 100%;
      width: 100%; }
      .mainContainer .chats .chatWindow.active {
        display: initial; }
      .mainContainer .chats .chatWindow .chatHeader {
        background: #FF5454; }
      .mainContainer .chats .chatWindow .messageHistory {
        width: 100%; }
      .mainContainer .chats .chatWindow .message {
        border: 1px solid black;
        width: 100%;
        height: 100%; }
        .mainContainer .chats .chatWindow .message.self {
          background: #D3FFA9; }
        .mainContainer .chats .chatWindow .message .sender {
          width: 100px; }
      .mainContainer .chats .chatWindow .messageBox {
        position: fixed;
        bottom: 0;
        width: 100%; }
        .mainContainer .chats .chatWindow .messageBox input {
          margin: 0; }
        .mainContainer .chats .chatWindow .messageBox button {
          margin: 0; }
